@utility istok-avatar--sm {
  --istok-avatar-size: var(--spacing-8);
  --istok-avatar-font-size: var(--text-control-sm);
  --istok-avatar-line-height: var(--text-control-sm--line-height);
  --istok-avatar-square-radius: var(--radius-2xl);
}

@utility istok-avatar--md {
  --istok-avatar-size: var(--spacing-10);
  --istok-avatar-font-size: var(--text-control-md);
  --istok-avatar-line-height: var(--text-control-md--line-height);
  --istok-avatar-square-radius: var(--radius-2xl);
}

@utility istok-avatar--lg {
  --istok-avatar-size: var(--spacing-12);
  --istok-avatar-font-size: var(--text-control-lg);
  --istok-avatar-line-height: var(--text-control-lg--line-height);
  --istok-avatar-square-radius: var(--radius-2xl);
}

@utility istok-avatar--circle {
  --istok-avatar-radius: var(--radius-full);
}

@utility istok-avatar--square {
  --istok-avatar-radius: var(--istok-avatar-square-radius);
}

.istok-avatar {
  --istok-avatar-bg: var(--gradient-water);
  --istok-avatar-fg: #ffffff;
  --istok-avatar-font-weight: 600;
  background: var(--istok-avatar-bg);
  color: var(--istok-avatar-fg);
  font-weight: var(--istok-avatar-font-weight);
}
