@utility istok-tabs--sm {
  --istok-tabs-radius: var(--radius-full);

  --istok-tabs-item-height: var(--spacing-10);
  --istok-tabs-item-padding-inline: var(--spacing-4);
  --istok-tabs-item-padding-block: var(--spacing-2);
  --istok-tabs-item-gap: calc(var(--spacing) * 1.5);
  --istok-tabs-item-radius: var(--radius-full);
  --istok-tabs-item-label-font-size: var(--text-control-sm);
  --istok-tabs-item-label-line-height: var(--text-control-sm--line-height);
  --istok-tabs-item-icon-size: var(--spacing-4);
}

@utility istok-tabs--md {
  --istok-tabs-radius: var(--radius-full);

  --istok-tabs-item-height: var(--spacing-12);
  --istok-tabs-item-padding-inline: var(--spacing-5);
  --istok-tabs-item-padding-block: calc(var(--spacing) * 2.5);
  --istok-tabs-item-gap: calc(var(--spacing) * 1.5);
  --istok-tabs-item-radius: var(--radius-full);
  --istok-tabs-item-label-font-size: var(--text-control-md);
  --istok-tabs-item-label-line-height: var(--text-control-md--line-height);
  --istok-tabs-item-icon-size: var(--spacing-4);
}

@utility istok-tabs--lg {
  --istok-tabs-radius: var(--radius-full);

  --istok-tabs-item-height: var(--spacing-13);
  --istok-tabs-item-padding-inline: var(--spacing-6);
  --istok-tabs-item-padding-block: var(--spacing-3);
  --istok-tabs-item-gap: calc(var(--spacing) * 1.5);
  --istok-tabs-item-radius: var(--radius-full);
  --istok-tabs-item-label-font-size: var(--text-control-lg);
  --istok-tabs-item-label-line-height: var(--text-control-lg--line-height);
  --istok-tabs-item-icon-size: var(--spacing-5);
}

@utility istok-tabs--line {
  --istok-tabs-item-label-color: var(--color-text-secondary);
  --istok-tabs-item-label-color-active: var(--color-text-strong);
  --istok-tabs-item-label-color-disabled: var(--color-neutral-400);
  --istok-tabs-item-label-color-disabled-active: var(--color-neutral-400);

  --istok-tabs-item-icon-color: var(--color-text-secondary);
  --istok-tabs-item-icon-color-active: var(--color-text-strong);
  --istok-tabs-item-icon-color-disabled: var(--color-neutral-400);
  --istok-tabs-item-icon-color-disabled-active: var(--color-neutral-400);

  --istok-tabs-item-bg: transparent;
  --istok-tabs-item-bg-active: var(--color-surface-muted);
  --istok-tabs-item-bg-disabled: transparent;
  --istok-tabs-item-bg-disabled-active: var(--color-neutral-200);

  --istok-tabs-item-line-underline-color: transparent;
  --istok-tabs-item-line-underline-height: 0px;
}

@utility istok-tabs--ghost {
  --istok-tabs-item-label-color: var(--color-text-secondary);
  --istok-tabs-item-label-color-active: var(--color-text-strong);
  --istok-tabs-item-label-color-disabled: var(--color-neutral-400);
  --istok-tabs-item-label-color-disabled-active: var(--color-neutral-400);

  --istok-tabs-item-icon-color: var(--color-text-secondary);
  --istok-tabs-item-icon-color-active: var(--color-text-strong);
  --istok-tabs-item-icon-color-disabled: var(--color-neutral-400);
  --istok-tabs-item-icon-color-disabled-active: var(--color-neutral-400);

  --istok-tabs-item-bg: transparent;
  --istok-tabs-item-bg-active: var(--color-surface-muted);
  --istok-tabs-item-bg-disabled: transparent;
  --istok-tabs-item-bg-disabled-active: var(--color-neutral-200);

  --istok-tabs-item-line-underline-color: transparent;
  --istok-tabs-item-line-underline-height: 0px;
}

@utility istok-tabs--solid {
  --istok-tabs-item-label-color: var(--color-text-strong);
  --istok-tabs-item-label-color-active: var(--color-primary-50);
  --istok-tabs-item-label-color-disabled: var(--color-neutral-400);
  --istok-tabs-item-label-color-disabled-active: var(--color-neutral-500);

  --istok-tabs-item-icon-color: var(--color-text-strong);
  --istok-tabs-item-icon-color-active: var(--color-primary-50);
  --istok-tabs-item-icon-color-disabled: var(--color-neutral-400);
  --istok-tabs-item-icon-color-disabled-active: var(--color-neutral-500);

  --istok-tabs-item-bg: transparent;
  --istok-tabs-item-bg-active: var(--color-primary-600);
  --istok-tabs-item-bg-disabled: transparent;
  --istok-tabs-item-bg-disabled-active: var(--color-neutral-300);

  --istok-tabs-item-line-underline-color: transparent;
  --istok-tabs-item-line-underline-height: 0px;
}
