@utility istok-accordion--sm {
  --istok-accordion-item-padding: var(--spacing-4);
  --istok-accordion-item-gap: var(--spacing-3);
  --istok-accordion-icon-size: var(--spacing-5);
  --istok-accordion-title-font-size: var(--text-title-md);
  --istok-accordion-title-line-height: var(--text-title-md--line-height);
  --istok-accordion-title-letter-spacing: var(--text-title-md--letter-spacing);
  --istok-accordion-description-font-size: var(--text-body-sm);
  --istok-accordion-description-line-height: var(--text-body-sm--line-height);
  --istok-accordion-content-font-size: var(--text-body-md);
  --istok-accordion-header-gap: var(--spacing-3);
}

@utility istok-accordion--md {
  --istok-accordion-item-padding: var(--spacing-6);
  --istok-accordion-item-gap: var(--spacing-4);
  --istok-accordion-icon-size: var(--spacing-6);
  --istok-accordion-title-font-size: var(--text-title-lg);
  --istok-accordion-title-line-height: var(--text-title-lg--line-height);
  --istok-accordion-title-letter-spacing: var(--text-title-lg--letter-spacing);
  --istok-accordion-description-font-size: var(--text-body-md);
  --istok-accordion-description-line-height: var(--text-body-md--line-height);
  --istok-accordion-content-font-size: var(--text-body-lg);
  --istok-accordion-header-gap: var(--spacing-4);
}

@utility istok-accordion--default {
  --istok-accordion-item-bg: var(--color-surface-card);
  --istok-accordion-item-radius: var(--radius-2xl);
  --istok-accordion-item-shadow: none;
  --istok-accordion-item-shadow-hover: var(--shadow-md);
  --istok-accordion-title-font-weight: 500;
  --istok-accordion-title-fg: var(--color-primary-800);
  --istok-accordion-description-fg: var(--color-text-secondary);
  --istok-accordion-content-fg: var(--color-text-secondary);
  --istok-accordion-content-line-height: 1.625;
  --istok-accordion-icon-fg: var(--color-text-secondary);
}
