@utility istok-radio--sm {
  --istok-radio-gap: calc(var(--spacing) * 1.5);

  --istok-radio-label-font-size: var(--text-control-sm);
  --istok-radio-label-line-height: var(--text-control-sm--line-height);

  --istok-radio-description-font-size: var(--text-body-xs);
  --istok-radio-description-line-height: var(--text-body-xs--line-height);

  --istok-radio-input-size: var(--spacing-4);

  --istok-radio-input-border: var(--color-neutral-300);
  --istok-radio-input-border-hover: var(--color-primary-400);
  --istok-radio-input-bg: var(--color-primary-600);
  --istok-radio-input-dot: var(--color-neutral-50);
  --istok-radio-input-border-disabled: var(--color-neutral-400);
  --istok-radio-input-bg-disabled: var(--color-neutral-400);
}

@utility istok-radio--md {
  --istok-radio-gap: calc(var(--spacing) * 1.5);

  --istok-radio-label-font-size: var(--text-control-md);
  --istok-radio-label-line-height: var(--text-control-md--line-height);

  --istok-radio-description-font-size: var(--text-body-xs);
  --istok-radio-description-line-height: var(--text-body-xs--line-height);

  --istok-radio-input-size: var(--spacing-5);

  --istok-radio-input-border: var(--color-neutral-300);
  --istok-radio-input-border-hover: var(--color-primary-400);
  --istok-radio-input-bg: var(--color-primary-600);
  --istok-radio-input-dot: var(--color-neutral-50);
  --istok-radio-input-border-disabled: var(--color-neutral-400);
  --istok-radio-input-bg-disabled: var(--color-neutral-400);
}

@utility istok-radio--lg {
  --istok-radio-gap: calc(var(--spacing) * 2);

  --istok-radio-label-font-size: var(--text-control-lg);
  --istok-radio-label-line-height: var(--text-control-lg--line-height);

  --istok-radio-description-font-size: var(--text-body-sm);
  --istok-radio-description-line-height: var(--text-body-sm--line-height);

  --istok-radio-input-size: var(--spacing-6);

  --istok-radio-input-border: var(--color-neutral-300);
  --istok-radio-input-border-hover: var(--color-primary-400);
  --istok-radio-input-bg: var(--color-primary-600);
  --istok-radio-input-dot: var(--color-neutral-50);
  --istok-radio-input-border-disabled: var(--color-neutral-400);
  --istok-radio-input-bg-disabled: var(--color-neutral-400);
}
