@utility istok-button--s {
  --istok-button-padding-inline: var(--spacing-4);
  --istok-button-padding-block: var(--spacing-2);
  --istok-button-height: var(--spacing-8);
  --istok-button-radius: var(--radius-xl);
  --istok-button-gap: calc(var(--spacing) * 1.5);
  --istok-button-font-size: var(--text-control-s);
  --istok-button-line-height: var(--text-control-s--line-height);
}

@utility istok-button--m {
  --istok-button-padding-inline: var(--spacing-5);
  --istok-button-padding-block: calc(var(--spacing) * 2.5);
  --istok-button-height: var(--spacing-10);
  --istok-button-radius: var(--radius-xl);
  --istok-button-gap: calc(var(--spacing) * 1.5);
  --istok-button-font-size: var(--text-control-m);
  --istok-button-line-height: var(--text-control-m--line-height);
}

@utility istok-button--l {
  --istok-button-padding-inline: var(--spacing-6);
  --istok-button-padding-block: var(--spacing-3);
  --istok-button-height: var(--spacing-12);
  --istok-button-radius: var(--radius-2xl);
  --istok-button-gap: calc(var(--spacing) * 2);
  --istok-button-font-size: var(--text-control-l);
  --istok-button-line-height: var(--text-control-l--line-height);
}

@utility istok-button--primary {
  --istok-button-bg: var(--color-brand-600);
  --istok-button-bg-hover: var(--color-brand-700);
  --istok-button-bg-active: var(--color-brand-700);

  --istok-button-fg: var(--color-brand-50);
  --istok-button-fg-hover: var(--color-brand-50);
  --istok-button-fg-active: var(--color-brand-50);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--secondary {
  --istok-button-bg: var(--color-brand-100);
  --istok-button-bg-hover: var(--color-brand-200);
  --istok-button-bg-active: var(--color-brand-300);

  --istok-button-fg: var(--color-brand-700);
  --istok-button-fg-hover: var(--color-brand-700);
  --istok-button-fg-active: var(--color-brand-700);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--neutral {
  --istok-button-bg: var(--color-neutral-200);
  --istok-button-bg-hover: var(--color-neutral-300);
  --istok-button-bg-active: var(--color-neutral-400);

  --istok-button-fg: var(--color-neutral-700);
  --istok-button-fg-hover: var(--color-neutral-700);
  --istok-button-fg-active: var(--color-neutral-700);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--clear {
  --istok-button-bg: transparent;
  --istok-button-bg-hover: var(--color-brand-700);
  --istok-button-bg-active: var(--color-brand-800);

  --istok-button-fg: var(--color-brand-600);
  --istok-button-fg-hover: var(--color-brand-50);
  --istok-button-fg-active: var(--color-brand-50);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--clear-inverse {
  --istok-button-bg: transparent;
  --istok-button-bg-hover: var(--color-brand-50);
  --istok-button-bg-active: var(--color-brand-200);

  --istok-button-fg: var(--color-brand-50);
  --istok-button-fg-hover: var(--color-brand-700);
  --istok-button-fg-active: var(--color-brand-700);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--opacity {
  --istok-button-bg: color-mix(
    in srgb,
    var(--color-brand-100) 24%,
    transparent
  );
  --istok-button-bg-hover: var(--color-brand-50);
  --istok-button-bg-active: var(--color-brand-200);

  --istok-button-fg: var(--color-brand-50);
  --istok-button-fg-hover: var(--color-brand-700);
  --istok-button-fg-active: var(--color-brand-700);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--outline {
  --istok-button-bg: transparent;
  --istok-button-bg-hover: var(--color-brand-600);
  --istok-button-bg-active: var(--color-brand-700);

  --istok-button-fg: var(--color-brand-600);
  --istok-button-fg-hover: var(--color-brand-50);
  --istok-button-fg-active: var(--color-brand-50);

  --istok-button-border-color: var(--color-brand-600);
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}

@utility istok-button--negative {
  --istok-button-bg: var(--color-red-100);
  --istok-button-bg-hover: var(--color-red-600);
  --istok-button-bg-active: var(--color-red-700);

  --istok-button-fg: var(--color-red-700);
  --istok-button-fg-hover: var(--color-red-50);
  --istok-button-fg-active: var(--color-red-50);

  --istok-button-border-color: transparent;
  --istok-button-border-color-hover: transparent;
  --istok-button-border-color-active: transparent;
}
