@utility istok-checkbox--s {
  --istok-checkbox-gap: calc(var(--spacing) * 1.5);

  --istok-checkbox-label-font-size: var(--text-control-sm);
  --istok-checkbox-label-line-height: var(--text-control-sm--line-height);

  --istok-checkbox-description-font-size: var(--text-body-xs);
  --istok-checkbox-description-line-height: var(--text-body-xs--line-height);

  --istok-checkbox-input-size: var(--spacing-4);
  --istok-checkbox-input-radius: var(--radius-sm);

  --istok-checkbox-icon-size: var(--spacing-4);
}

@utility istok-checkbox--m {
  --istok-checkbox-gap: calc(var(--spacing) * 1.5);

  --istok-checkbox-label-font-size: var(--text-control-md);
  --istok-checkbox-label-line-height: var(--text-control-md--line-height);

  --istok-checkbox-description-font-size: var(--text-body-xs);
  --istok-checkbox-description-line-height: var(--text-body-xs--line-height);

  --istok-checkbox-input-size: var(--spacing-5);
  --istok-checkbox-input-radius: var(--radius-md);

  --istok-checkbox-icon-size: var(--spacing-5);
}

@utility istok-checkbox--l {
  --istok-checkbox-gap: calc(var(--spacing) * 2);

  --istok-checkbox-label-font-size: var(--text-control-lg);
  --istok-checkbox-label-line-height: var(--text-control-lg--line-height);

  --istok-checkbox-description-font-size: var(--text-body-sm);
  --istok-checkbox-description-line-height: var(--text-body-sm--line-height);

  --istok-checkbox-input-size: var(--spacing-6);
  --istok-checkbox-input-radius: var(--radius-lg);

  --istok-checkbox-icon-size: var(--spacing-6);
}
